.userprofile-img {
    max-height: 125px;
    padding: 10px;
    display: block;
    margin: 0 auto;
}

.padding-killer {
    padding: 0px !important;
}
.padding-top-killer {
    padding-top: 0px !important;
}
.padding-right-killer {
    padding-right: 0px !important;
}
.padding-bottom-killer {
    padding-bottom: 0px !important;
}
.padding-left-killer {
    padding-left: 0px !important;
}
.pad-10 {
    padding: 10px 10px 10px 10px;
}
.pad-tp-10 {
    padding-top: 10px;
}
.pad-rt-10 {
    padding-right: 10px;
}
.pad-bt-10 {
    padding-bottom: 10px;
}
.pad-lt-10 {
    padding-left: 10px;
}
.margin-killer {
    margin: 0px !important;
}
.margin-top-killer {
    margin-top: 0px !important;
}
.margin-right-killer {
    margin-right: 0px !important;
}
.margin-bottom-killer {
    margin-bottom: 0px !important;
}
.margin-left-killer {
    margin-left: 0px !important;
}
.mar-10 {
    margin: 10px 10px 10px 10px;
}
.mar-bt-10 {
    margin-bottom: 10px;
}
.mar-tp-10 {
    margin-top: 10px;
}
.mar-lt-10 {
    margin-left: 10px;
}
.mar-rt-10 {
    margin-right: 10px;
}
.clear {
    clear: both;
}
.overflow-hidden {
    overflow: hidden;
}
.overflow-text-dot {
    text-overflow: ellipsis;
}
.nowrap {
    white-space: nowrap;
}

.error {
    color: #E9573F !important;
    padding-left: 5px;
    font-size: 12px !important;
    font-weight: normal !important;
}

.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
    line-height: 25px;
}

.hero-widget { text-align: center; padding-top: 20px; padding-bottom: 20px; }
.hero-widget .icon { display: block; font-size: 50px; line-height: 50px; margin-bottom: 10px; text-align: center; }
.hero-widget var { display: block; height: 24px; font-size: 24px; line-height: 24px; font-style: normal; }
.hero-widget label { font-size: 15px; }
.hero-widget .options { margin-top: 10px; }

.daredevel-tree li span.daredevel-tree-anchor {
    left: -20px;
}

.daredevel-tree li span.daredevel-tree-label {
    margin-left: 20px;
}

#permission_tree li.expanded {
    width: 100%;
    float: left;
    display: inherit;
    border-bottom: 2px dashed;
    margin-bottom: 20px;
}

#permission_tree li.expanded input[type="checkbox"] {
    height: 22px;
    width: 22px;
}

#permission_tree li.expanded ul {
    float: left;
    width: 100%;
    clear: both;
    margin-top : 0px;
    margin-bottom: 10px;
}

#permission_tree li.leaf {
    float: left;
    margin-right: 20px;
}