.nav>li>a>img {
  max-width: 30px;
}

.padding-killer {
    padding: 0px !important;
}
.padding-top-killer {
    padding-top: 0px !important;
}
.padding-right-killer {
    padding-right: 0px !important;
}
.padding-bottom-killer {
    padding-bottom: 0px !important;
}
.padding-left-killer {
    padding-left: 0px !important;
}
.pad-10 {
    padding: 10px 10px 10px 10px;
}
.pad-tp-10 {
    padding-top: 10px;
}
.pad-rt-10 {
    padding-right: 10px;
}
.pad-bt-10 {
    padding-bottom: 10px;
}
.pad-lt-10 {
    padding-left: 10px;
}
.margin-killer {
    margin: 0px !important;
}
.margin-top-killer {
    margin-top: 0px !important;
}
.margin-right-killer {
    margin-right: 0px !important;
}
.margin-bottom-killer {
    margin-bottom: 0px !important;
}
.margin-left-killer {
    margin-left: 0px !important;
}
.mar-10 {
    margin: 10px 10px 10px 10px;
}
.mar-bt-10 {
    margin-bottom: 10px;
}
.mar-tp-10 {
    margin-top: 10px;
}
.mar-lt-10 {
    margin-left: 10px;
}
.mar-rt-10 {
    margin-right: 10px;
}
.clear {
    clear: both;
}
.overflow-hidden {
    overflow: hidden;
}
.overflow-text-dot {
    text-overflow: ellipsis;
}
.nowrap {
    white-space: nowrap;
}